# Task One: Data Cleaning

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 1. Define file path

In [19]:
# Group 1 US101SB
stations_us101_path = "Group 1 US101SB/Stations_US101.csv"
us101sb_2019_10_16_path = "Group 1 US101SB/US101SB_10-16-2019.csv"
us101sb_2019_10_23_path = "Group 1 US101SB/US101SB_10-23-2019.csv"

# Group 2 US101SB
stations_us101_g2_path = "Group 2 US101SB/Stations_US101.csv"
us101sb_2019_10_19_path = "Group 2 US101SB/US101SB_10-19-2019.csv"
us101sb_2019_10_26_path = "Group 2 US101SB/US101SB_10-26-2019.csv"
zone_readings_10_19_path = "Group 2 US101SB/Zone_Readings_10-19.csv"
zone_readings_10_26_path = "Group 2 US101SB/Zone_Readings_10-26.csv"

# SR_91_Bottleneck_A_100-145.8
inventory_sr91_a_path = "SR_91_Bottleneck_A_100-145.8/Inventory.csv"
zone_readings_0830_0831_path = "SR_91_Bottleneck_A_100-145.8/Zone_Readings_0830-0831.csv"
zone_readings_0906_0907_path = "SR_91_Bottleneck_A_100-145.8/Zone_Readings_0906-0907.csv"

# SR_91_Bottleneck_B_150-200
inventory_sr91_b_path = "SR_91_Bottleneck_B_150-200/Inventory.csv"
zone_readings_0831_0901_path = "SR_91_Bottleneck_B_150-200/Zone_Readings_0831-0901.csv"
zone_readings_0907_0908_path = "SR_91_Bottleneck_B_150-200/Zone_Readings_0907-0908.csv"

## 2. Load data

In [20]:
# Load data using the defined paths
# stations_us101 = pd.read_csv(stations_us101_path)
# us101sb_2019_10_16 = pd.read_csv(us101sb_2019_10_16_path)
# us101sb_2019_10_23 = pd.read_csv(us101sb_2019_10_23_path)

stations_us101_g2 = pd.read_csv(stations_us101_g2_path)
us101sb_2019_10_19 = pd.read_csv(us101sb_2019_10_19_path)
us101sb_2019_10_26 = pd.read_csv(us101sb_2019_10_26_path)

# inventory_sr91_a = pd.read_csv(inventory_sr91_a_path)
# zone_readings_0830_0831 = pd.read_csv(zone_readings_0830_0831_path)
# zone_readings_0906_0907 = pd.read_csv(zone_readings_0906_0907_path)

inventory_sr91_b = pd.read_csv(inventory_sr91_b_path)
zone_readings_0831_0901 = pd.read_csv(zone_readings_0831_0901_path)
zone_readings_0907_0908 = pd.read_csv(zone_readings_0907_0908_path)

## 3. Explore data

In [21]:
# Display the first 5 rows of the data
zone_readings_0831_0901.head()

   zone_id          measurement_start      speed  volume  occupancy  quality
0     3262  2017-08-31T00:01:16-04:00  66.666667       6        2.5        0
1     3262  2017-08-31T00:02:16-04:00  64.000000       1        0.0        1
2     3262  2017-08-31T00:03:16-04:00  63.428571       7        2.5        0
3     3262  2017-08-31T00:04:16-04:00  60.000000       1        0.5        1
4     3262  2017-08-31T00:05:16-04:00  61.400000       5        2.0        0

In [22]:
# Display the first 5 rows of the data
us101sb_2019_10_19.head()

,date,station_ID,vol_1,occ_1,speed_1,vol_2,occ_2,speed_2,vol_3,occ_3,speed_3,vol_4,occ_4,speed_4,vol_5,occ_5,speed_5
0,10/19/2019 0:00,402005,0,0.0000,0,0,0.0000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10/19/2019 0:00,405389,0,0.0000,0,0,0.0000,0,0.0,0.0000,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,10/19/2019 0:00,405390,0,0.0000,0,5,0.0306,78,3.0,0.0206,71.0,0.0,0.0,0.0,NaN,NaN,NaN
3,10/19/2019 0:00,405394,0,0.0000,0,0,0.0000,0,0.0,0.0000,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,10/19/2019 0:00,405395,1,0.0056,78,1,0.0078,60,0.0,0.0000,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Display the rows of selected station
station_id = 405395
us101sb_2019_10_19[us101sb_2019_10_19['station_ID'] == station_id].head(10)

,date,station_ID,vol_1,occ_1,speed_1,vol_2,occ_2,speed_2,vol_3,occ_3,speed_3,vol_4,occ_4,speed_4,vol_5,occ_5,speed_5
4,10/19/2019 0:00,405395,1,0.0056,78,1,0.0078,60,0.0,0.0000,0.0,NaN,NaN,NaN,NaN,NaN,NaN
149,10/19/2019 0:00,405395,0,0.0000,0,5,0.0339,60,4.0,0.0289,65.0,NaN,NaN,NaN,NaN,NaN,NaN
294,10/19/2019 0:01,405395,1,0.0067,71,2,0.0139,60,2.0,0.0378,60.0,NaN,NaN,NaN,NaN,NaN,NaN
439,10/19/2019 0:01,405395,0,0.0000,0,1,0.0228,56,2.0,0.0206,71.0,NaN,NaN,NaN,NaN,NaN,NaN
584,10/19/2019 0:02,405395,1,0.0067,71,1,0.0067,60,2.0,0.0117,78.0,NaN,NaN,NaN,NaN,NaN,NaN
729,10/19/2019 0:02,405395,1,0.0067,71,3,0.0200,65,1.0,0.0067,71.0,NaN,NaN,NaN,NaN,NaN,NaN
874,10/19/2019 0:03,405395,0,0.0000,0,5,0.0350,60,1.0,0.0078,60.0,NaN,NaN,NaN,NaN,NaN,NaN
1019,10/19/2019 0:03,405395,1,0.0056,71,2,0.0139,60,1.0,0.0056,78.0,NaN,NaN,NaN,NaN,NaN,NaN
1164,10/19/2019 0:04,405395,3,0.0189,78,1,0.0078,60,0.0,0.0000,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1309,10/19/2019 0:04,405395,0,0.0000,0,3,0.0239,60,0.0,0.0000,0.0,NaN,NaN,NaN,NaN,NaN,NaN

## 4. Define the aggregation fucntion

In [24]:
def agg_all_lanes(rows):
    # detector time interval
    dt = 30 # seconds

    # Extract volume, speed, and occupancy values for all lanes
    volumes = rows[['vol_1', 'vol_2', 'vol_3', 'vol_4', 'vol_5']]
    speeds = rows[['speed_1', 'speed_2', 'speed_3', 'speed_4', 'speed_5']]
    occupancies = rows[['occ_1', 'occ_2', 'occ_3', 'occ_4', 'occ_5']]

    # Sum the volume of all lanes, excluding missing values
    volume = volumes.sum(skipna=True)

    # Calculate the volume-weighted average speed, excluding missing values
    if volume == 0:
        speed = 0
    else:
        speed = (volumes * speeds).sum(skipna=True) / volume

    # Option 1: Sum occupancy of all lanes, excluding missing values
    # occupancy = occupancies.sum(skipna=True)
    # Option 2: Average occupancy of all lanes, excluding missing values
    occupancy = occupancies.mean(skipna=True)


    return pd.Series([volume, speed, occupancy], index=['volume', 'speed', 'occupancy'])

# Test the function with selected station_ID (402005 or 405395 or 406760).
where = (us101sb_2019_10_19['station_ID'] == 405395) | (us101sb_2019_10_19['station_ID'] == 402005) | (us101sb_2019_10_19['station_ID'] == 406760)
test_df = us101sb_2019_10_19[where]
test_df[['volume', 'speed', 'occupancy']] = test_df.apply(agg_all_lanes, axis=1)
test_df

C:\Users\jingx\AppData\Local\Temp\ipykernel_13344\2538229752.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[['volume', 'speed', 'occupancy']] = test_df.apply(agg_all_lanes, axis=1)
C:\Users\jingx\AppData\Local\Temp\ipykernel_13344\2538229752.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[['volume', 'speed', 'occupancy']] = test_df.apply(agg_all_lanes, axis=1)
C:\Users\jingx\AppData\Local\Temp\ipykernel_13344\2538229752.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[['volume', 'speed', 'occupancy']] = test_df.apply(agg_all_lanes, axis=1)

,date,station_ID,vol_1,occ_1,speed_1,vol_2,occ_2,speed_2,vol_3,occ_3,speed_3,vol_4,occ_4,speed_4,vol_5,occ_5,speed_5,volume,speed,occupancy
0,10/19/2019 0:00,402005,0,0.0000,0,0,0.0000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000
4,10/19/2019 0:00,405395,1,0.0056,78,1,0.0078,60,0.0,0.0000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.004467
144,10/19/2019 0:00,406760,0,0.0000,0,0,0.0000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000
145,10/19/2019 0:00,402005,0,0.0000,0,0,0.0000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000
149,10/19/2019 0:00,405395,0,0.0000,0,5,0.0339,60,4.0,0.0289,65.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0,0.0,0.020933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415938,10/19/2019 23:59,405395,2,0.0139,71,4,0.0228,60,2.0,0.0128,65.0,NaN,NaN,NaN,NaN,NaN,NaN,8.0,0.0,0.016500
416078,10/19/2019 23:59,406760,0,0.0000,0,0,0.0000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000
416079,10/19/2019 23:59,402005,0,0.0000,0,0,0.0000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000
416083,10/19/2019 23:59,405395,3,0.0217,65,4,0.0328,56,1.0,0.0078,60.0,NaN,NaN,NaN,NaN,NaN,NaN,8.0,0.0,0.020767
416223,10/19/2019 23:59,406760,0,0.0000,0,0,0.0000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000

In [25]:
def agg_by_minutes(df, run_flag=False):

    # Convert 'date' column to datetime format
    df['date'] = pd.to_datetime(df['date'])

    # Select the columns: 'date', 'station_ID', 'volume', 'speed', 'occupancy'
    df = df[['date', 'station_ID', 'volume', 'speed', 'occupancy']]

    if run_flag:
        # Group the data by one minute intervals
        df = df.groupby(['station_ID', df['date'].dt.floor('T')]).agg({
            # Sum the volume 
            'volume': 'sum',
            # Calculate the volume-weighted average speed, excluding missing values 
            'speed': lambda s: np.average(s, weights=df.loc[s.index, 'volume']) if df.loc[s.index, 'volume'].sum() != 0 else 0,
            # Calculate the mean occupancy
            'occupancy': 'mean'
        }).reset_index()
    return df

# Test the function with selected station_ID
test_by_minute_df = agg_by_minutes(test_df)
test_by_minute_df.reset_index(inplace=True)
test_by_minute_df.sample(10)

C:\Users\jingx\AppData\Local\Temp\ipykernel_13344\1807295199.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'])

       index                date  station_ID  volume  speed  occupancy
5624  271587 2019-10-19 15:41:00      405395    23.0    0.0   0.055033
3897  188213 2019-10-19 10:52:00      402005     0.0    0.0   0.000000
4264  205971 2019-10-19 11:53:00      406760     0.0    0.0   0.000000
5813  280786 2019-10-19 16:12:00      406760     0.0    0.0   0.000000
4892  236277 2019-10-19 13:38:00      402005     0.0    0.0   0.000000
7585  366413 2019-10-19 21:08:00      402005     0.0    0.0   0.000000
8074  390123 2019-10-19 22:29:00      406760     0.0    0.0   0.000000
4598  222067 2019-10-19 12:49:00      402005     0.0    0.0   0.000000
1971   95198 2019-10-19 05:30:00      406760     0.0    0.0   0.000000
1667   80413 2019-10-19 04:39:00      405395     6.0    0.0   0.013533

## 5. Process the data

In [26]:
us101sb_2019_10_19[['volume', 'speed', 'occupancy']] = us101sb_2019_10_19.apply(agg_all_lanes, axis=1)

# Aggregate the data by minutes
zone_readings_10_19 = agg_by_minutes(us101sb_2019_10_19, run_flag=False)
zone_readings_10_19.reset_index(inplace=True)
zone_readings_10_19.to_csv(zone_readings_10_19_path, index=False)

KeyboardInterrupt:

In [ ]:
us101sb_2019_10_26[['volume', 'speed', 'occupancy']] = us101sb_2019_10_26.apply(agg_all_lanes, axis=1)

# Aggregate the data by minutes
zone_readings_10_26 = agg_by_minutes(us101sb_2019_10_26, run_flag=False)
zone_readings_10_26.reset_index(inplace=True)
zone_readings_10_26.to_csv(zone_readings_10_26_path, index=False)